*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}
.records{
    background: #222;
    padding: 3rem 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 3rem;
    align-self: start;
    justify-self: flex-start;
    color: white;
}
.record{
    display: flex;
    gap: 1.4rem;
    align-items: center;
    justify-content: center;
}
.r-icon{
    font-size: 54px;
    padding: 1rem;
    width: 100px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-radius: 20px;
}
.r-detail{
    text-align: start;
    display: flex;
    flex-direction: column;
}
.r-detail h1{
    font-size: 69px;
}
.r-detail p{
    color: grey;
}

@media(max-width: 1168px){
    .records{
        flex-wrap: wrap;
    }
    .r-icon{
        font-size: 40px;
    }
    .r-detail{
        text-align: start;
        display: flex;
        flex-direction: column;
    }
    .r-detail h1{
        font-size: 50px;
    }
    .r-detail p{
        color: grey;
    }
}

/* @media(min-width:1890px){
    .Record{
        display: flex;
        justify-content: center;
        align-items: center;
        background: #222;
    }
    .records{
        max-width: 69%;
        grid-gap: 3rem;
    }
} */