* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.contact {
  padding: 6rem 2rem;
  background: #111;
  display: flex;
  align-items: center;
  gap: 4rem;
  color: #fff;
}
.form {
  display: flex;
  flex-direction: column;
  flex: 1 1 600px;
  text-align: start;
}

.contact-details {
  display: flex;
  flex-direction: column;
  flex: 1 1 400px;
}
