* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.footer {
  padding: 5rem 3rem;
  background: #111;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 3rem;
  align-items: start;
  color: white;
  border-bottom: 1px solid grey;
}
.num,
.email,
.f-socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.f-socials i, .email i, .num i {
  font-size: 45px;
  cursor: pointer;
  transition: 0.3s ease;
}
.num p, .email p{
    font-size: 21px;
    margin: 0 10px;
}
.f-socials a {
  color: inherit;
  text-decoration: inherit;
}
.f-socials a i:hover {
  transform: scale(1.08);
}
.f-socials a i:nth-child(1):hover {
  color: inherit;
}
.f-socials a i:nth-child(2):hover {
  color: #0a66c2;
}
.f-socials i:nth-child(3):hover {
  color: #3b5998;
}
.f-socials i:nth-child(4):hover {
  color: #6e5494;
}

.copy-write{
    background: #111;
    display: flex;
    padding: 1rem;
    justify-content: center;
    gap: 8px;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.copy-write p{
    color: grey;
}
.copy-write p span{
    color: rgb(255, 255, 255);
}
.copy-write img{
    width: 69px;
}

@media(max-width: 1167px){
    .copy-write{
        justify-content: center;
    }
    .footer{
        flex-wrap: wrap;
    }
    .f-socials i, .email i, .num i {
        font-size: 35px;
        cursor: pointer;
        transition: 0.3s ease;
      }
}
