@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@300&display=swap");

.App {
  text-align: center;
  transition: 0.4s ease-in-out;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}
.App h1,
h2,
h3,
h4 {
  font-family: "Overpass", sans-serif;
  letter-spacing: 2px;
}
.App p,
ul,
li span {
  font-family: "Geologica", sans-serif;
  letter-spacing: 1.7px;
  font-weight: 400;
}

/* Scrollbar css */
::-webkit-scrollbar {
  width: 11px;
}
::-webkit-scrollbar-thumb {
  background: #71d78d;
  border-radius: 1px;
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.943);
}
/* Scrollbar css */

/* Button CSS */
.button {
  padding: 0.6em 1.1em;
  border: 2px solid #71d78d;
  border-radius: 2px;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 17px;
  transition: 0.3s;
  z-index: 1;
  font-family: "Geologica", sans-serif;
  font-weight: bolder;
  letter-spacing: 1px;
  color: #71d78d;
  cursor: pointer;
}

.button::before {
  content: "";
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(25deg);
  background: #71d78d;
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

.button:hover::before {
  width: 125%;
}

.button:hover {
  color: #111;
}

/* Button CSS*/

/* Social Links */
.social {
  padding: 1rem 0;
  display: flex;
  gap: 1.1rem;
}
.social i {
  font-size: 35px;
  cursor: pointer;
  transition: 0.3s ease;
}
.social a {
  color: inherit;
  text-decoration: inherit;
}
.social a i:hover {
  transform: scale(1.17);
}

.nav-links {
  color: inherit !important;
  text-decoration: inherit;
}

@media (min-width: 1890px) {
  .button {
    padding: 1rem;
    font-size: 17px;
  }
}
@media (max-width: 560px) {
  .button {
    padding: 0.4rem;
    font-size: 17px;
  }
}
