@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@300&display=swap");

.App {
  text-align: center;
  transition: 0.4s ease-in-out;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}
.App h1,
h2,
h3,
h4 {
  font-family: "Overpass", sans-serif;
  letter-spacing: 2px;
}
.App p, ul, li span {
  font-family: "Geologica", sans-serif;
  letter-spacing: 1.7px;
  font-weight: bold;
}

/* Scrollbar css */
::-webkit-scrollbar {
  width: 11px;
}
::-webkit-scrollbar-thumb {
  background: rgba(162, 222, 59, 0.9);
  border-radius: 1px;
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.943);
}
/* Scrollbar css */

/* Button CSS */
.button {
  padding: 0.1em 0.25em;
  width: 13em;
  height: 4.2em;
  background-color: #212121;
  border: 0.08em solid #ffffff;
  border-radius: 0.3em;
  font-size: 10px;
  cursor: pointer;
}

.button span {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0.4em;
  width: 8.25em;
  height: 2.5em;
  background-color: #212121;
  border-radius: 0.2em;
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 0.6px;
  color: #ffffff;
  border: 0.08em solid #b6fb41;
  box-shadow: 0 0.4em 0.1em 0.019em #b6fb41;
}

.button span:hover {
  transition: all 0.4s;
  transform: translate(0, 0.1em);
  box-shadow: 0 0 0 0 #b6fb41;
  color: #b6fb41;
}

.button span:active {
  transition: all 0.4s;
  transform: translate(0, 0.4em);
  box-shadow: 0 0 0 0 #b6fb41;
}

.button span:not(:hover) {
  transition: all 0.3s;
}

@media (max-width: 470px){
  .button {
    padding: 0.1em;
    width: 8em;
    height: 3.5em;
    background-color: #212121;
    border: 0.04em solid #ffffff;
    border-radius: 0.3em;
    font-size: 8px;
    cursor: pointer;
  }
  
  .button span {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0.2em;
    width: 6.4em;
    height: 2.1em;
    background-color: #212121;
    border-radius: 0.2em;
    font-size: 1.1em;
    font-weight: bold;
    color: #ffffff;
    border: 0.04em solid #b6fb41;
    box-shadow: 0 0.4em 0.1em 0.019em #b6fb41;
  }
}

/* Button CSS*/

.nav-links {
  color: inherit !important;
  text-decoration: inherit;
}

@media (min-width: 1890px) {
  .button {
    padding: 1rem;
    font-size: 17px;
  }
}
@media (max-width: 560px) {
  .button {
    padding: 0.4rem;
    font-size: 17px;
  }
}
