*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.portfolio {
  padding: 4rem 1rem;
  background: #111;
}
.portfolio h1 {
  color: #71d78d;
  font-size: 59px;
}
.portfolio h1 span {
  color: #416306e2;
}
.portfolio p {
  color: white;
  font-size: 21px;
}
.projects {
  padding: 2rem 0;
}
.project {
  padding: 3rem 0;
  display: flex;
  gap: 2rem;
}

.project-image {
  display: flex;
  flex: 1 1 400px;
}

.card {
  width: 650px;
  height: 370px;
  background-image: url(../../Assets/Images/IAffordable.png);
  background-position: center;
  background-size: cover;
  border-radius: 8px;
  box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.55);
  position: relative;
  transform-style: preserve-3d;
  will-change: transform;
  transition: transform 0.5s;
  transform: translateZ(40px) rotateX(14deg) rotateY(-14deg);
}

/* .project:hover  {
  transform: translateZ(80px) rotateX(10deg) rotateY(0deg);
} */

.project-description {
  display: flex;
  flex: 1 1 300px;
  flex-direction: column;
  text-align: start;
  /* align-items: center;
  justify-content: center; */
}
.project-description h2 {
  color: #71d78d;
  font-size: 2.9rem;
  padding-bottom: 21px;
}
.project-description p {
  font-size: 17px;
  padding: 10px 0;
}
.project-description .button {
  margin: 2rem 0;
}

@media (max-width: 690px) {
  .portfolio h1 {
    font-size: 45px;
  }
  .portfolio p {
    font-size: 17px;
  }
  
}

@media (max-width: 1150px) {
  .projects {
    grid-template-columns: auto;
  }
  .project-detail .button {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
  .project {
    flex-wrap: wrap;
  }
  .card {
    width: 350px;
    height: 270px;
  }
  .project-description h2 {
    font-size: 2.1rem;
  }
}
