*, *::after, *::before{
    margin: 0; padding: 0;
    box-sizing: border-box;
}

.portfolio{
    padding: 4rem 2rem;
    background: #111;
}
.portfolio h1{
    color: #b6fb41;
    font-size: 59px;
}
.portfolio h1 span{
    color: #416306e2;
}
.portfolio p{
    color: white;
    font-size: 21px;
}

@media(max-width: 690px){
    .portfolio h1{
        font-size: 39px;
    }
    .portfolio p{
        font-size: 17px;
    }
}